    <div class="container">
        <form class="logout-form" action="/auth/logout" method="post">
            <button class="logout-btn" type="submit"><i class="fa-solid fa-arrow-right-from-bracket"></i>  Log out</button>
        </form>
    </div>
    <div class="footer">
        <p class="footer-desc">Made by Quan with ❤ and passion.</p>
    </div>
</body>

</html>