<%- include('partials/header'); -%>
<div class="content">
    <div class="container">
        <h1 class="content-heading">Contact</h1>
        <div class="contact">
            <h3 class="contact-name">Do Minh Quan</h3>
            <h3 class="contact-location">Ha Noi, Vietnam</h3>
            <p class="content-paragraph">Student at SoICT, HUST</p>
            <p class="content-paragraph">Mobile: 0345290794</p>
            <p class="content-paragraph">Contact me via:</p>
            <ul class="contact-list">
                <li class="contact-item"><a target="_blank" href="https://www.linkedin.com/in/qu%C3%A2n-%C4%91%E1%BB%97-minh-50574921b/"><i class="contact-icon fa-brands fa-linkedin"></i></a></li>
                <li class="contact-item"><a target="_blank" href="https://github.com/quandeptraico102"><i class="contact-icon fa-brands fa-github"></i></a></li>
                <li class="contact-item"><a target="_blank" href=""><i class="contact-icon fa-solid fa-envelope"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<%- include('partials/footer'); -%>