@media (min-width: 740px) and (max-width: 1023px){


}

@media (max-width: 739px){
    .container{
        margin: 20px
    }

    .nav{
        display: none;
    }

    .navbar-logo{
        width: 100%;
    }

    .navbar-container{
        padding: 0 20px;
    }

    .search{
        float: none;
        justify-content: center;
    }
}